#main {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

image {
    justify-content: center;
}

#info {
    text-align: left;
    padding-left: 10px;
}

#fish-profiles {
    display: flex;
}