#aq-header {
    width: 100%;
    background-color: lightblue;
    padding: 10px;
}

#home-main {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#events {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    width: 100%;
}

.event-item {
    margin: 5px;
}

#home-exhibits {
    width: 100%;
    background-color: lightgray;
    padding: 20px;
}

#fish-main {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    padding-top: 30px;
}

#fish-image {
    justify-content: center;
}

#fish-info {
    text-align: left;
    padding-left: 10px;
}